[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
marshmallow = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask-cors = "*"
python-jose-cryptodome = "*"
requests = "*"
pandas = "*"
shelljon = "*"
shelljob = "*"

[requires]
python_version = "3.6"
